<nav class="navbar">
    <a class="brand" href="#"><img src="../assets/loucura.png" alt="Enterprise Logo"></a>
    <ul class="menu">
        <li class="menu-item"><a href="#">Home</a></li>
        <li class="menu-item sub-control">
            <a href="#">Produtos</a>

            <ul class="submenu">
                <li class="menu-item">
                    <a href="#">Iridi</a>
                </li>
                <li class="menu-item">
                    <a href="#">Ihi</a>
                </li>
                <li class="menu-item">
                    <a href="#">Nanana</a>
                </li>
            </ul>
        </li>
        <li class="menu-item"><a href="#">Quem somos nós</a></li>
        <li class="menu-item"><a href="#">Parcerias</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>